<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm5 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name">
      </div>
      <div class="col-sm-2 form-group">
        <label for="">Description</label>
        <input type="text" id="description" class="form-control" name="description">
      </div>
      <div class="col-sm-2 form-group">
        <label for="band-members">Band Members</label>
        <input type="text" id="band-members" class="form-control" name="band-members">
      </div>
      <div class="col-sm-2 form-group">
        <label for="band-photo">Band Photo</label>
        <input type="text" id="band-photo" class="form-control" name="band-photo">
      </div>
    </div>
  </div>
</div>
